build
dist
.next
e2e-app/evervault.bundle.js
node_modules
.turbo
.idea
.env
.env.*
!.env.example
.DS_STORE
**/test-results/
**/playwright-report/
**/playwright/.cache/
out
ci
*.tar
*.tar.gz
vite.config.mts.timestamp-*
