apple-pay-button {
  --apple-pay-button-width: 150px;
  --apple-pay-button-height: 30px;
  --apple-pay-button-border-radius: 3px;
  --apple-pay-button-padding: 0px 0px;
  --apple-pay-button-box-sizing: border-box;
}

.apple-pay {
  display: inline-block;
  appearance: -apple-pay-button;
  border-radius: calc(var(--border-radius) * 1px);
  --apple-pay-button-type: var(--type);
  --apple-pay-button-style: var(--style);
}
