* {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  display: grid;
  min-height: 100vh;
  background: #f4f2f5;
  place-items: center;
}

.card {
  width: 400px;
  padding: 30px;
  background: white;
  border-radius: 20px;
  box-shadow: 0 10px 60px rgb(0 0 0 / 0.05);
}

.title {
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 5px;
}

.subtext {
  max-width: 350px;
  line-height: 1.5;
  margin-bottom: 20px;
  color: rgba(0, 0, 0, 0.6);
}

.button {
  width: 100%;
  height: 50px;
  color: white;
  border: none;
  display: block;
  cursor: pointer;
  font-size: 16px;
  appearance: none;
  margin-top: 30px;
  border-radius: 10px;
  background: rgb(0 0 0 / 0.75);
  box-shadow: 0 1px 2px rgb(0 0 0 / 0.2);

  &:hover {
    background: black;
  }
}

@media (max-width: 800px) {
  .card {
    width: 90%;
  }
}

#output {
  display: block;
  overflow-wrap: break-word;
  padding-top: 20px;

  &:empty {
    display: none;
  }
}
