---
name: Build & Test
on:
  workflow_call:
    inputs:
      TURBO_TEAM:
        type: string
        description: "Turbo team name"
        required: true
    secrets:
      TESTS_TEAM_UUID:
        required: true
      TESTS_APP_UUID:
        required: true
      TESTS_DECRYPT_FN_KEY:
        required: true
      TURBO_TOKEN:
        required: true

jobs:
  build:
    name: Build and Test
    timeout-minutes: 15
    runs-on: ubuntu-latest

    env:
      EV_TEAM_UUID: ${{ secrets.TESTS_TEAM_UUID }}
      EV_APP_UUID: ${{ secrets.TESTS_APP_UUID }}
      EV_DECRYPT_FN_KEY: ${{ secrets.TESTS_DECRYPT_FN_KEY }}
      VITE_EV_TEAM_UUID: ${{ secrets.TESTS_TEAM_UUID }}
      VITE_EV_APP_UUID: ${{ secrets.TESTS_APP_UUID }}
      TURBO_TEAM: ${{ inputs.TURBO_TEAM }}
      TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}
      EV_API_KEY: ${{ secrets.TESTS_API_KEY }}
      VITE_API_URL: https://api.evervault.com

    steps:
      - name: Check out code
        uses: actions/checkout@v3
        with:
          fetch-depth: 2

      - uses: pnpm/action-setup@v2
        with:
          version: 8.6

      - name: Setup Node.js environment
        uses: actions/setup-node@v3
        with:
          node-version-file: ".nvmrc"
          cache: "pnpm"

      - name: Install deps
        run: pnpm install --frozen-lockfile

      - name: Install Playwright Browsers
        run: pnpm exec playwright install --with-deps

      - name: Build
        run: pnpm build

      - name: Formats check
        run: pnpm run format:check

      - name: Typescript check
        run: pnpm run typecheck

      - name: eslint check
        run: pnpm run lint

      - name: Unit test
        run: pnpm test

      - name: E2E test
        run: pnpm run e2e:test

      - name: Upload browser build
        uses: actions/upload-artifact@v3
        with:
          name: browser-sdk-build
          path: packages/browser/dist

      - name: Upload inputs build
        uses: actions/upload-artifact@v3
        with:
          name: inputs-sdk-build
          path: packages/inputs/dist

      - name: Upload react build
        uses: actions/upload-artifact@v3
        with:
          name: react-sdk-build
          path: packages/react/dist
