name: E2E Test
on:
  workflow_call:
    inputs:
      vite-evervault-js-url:
        description: "URL where the JS SDK should be loaded from"
        required: true
        type: string
      vite-keys-url:
        description: "URL where keys will be fetched from"
        required: true
        type: string
      vite-api-url:
        description: "API endpoint"
        required: true
        type: string
      run-code-coverage-checks:
        description: "Whether to run code coverage checks or not"
        required: true
        type: boolean
      update-screenshots:
        description: "Whether to update screenshots or not"
        required: true
        type: boolean
jobs:
  get-e2e-targets:
    name: "Build list of E2E test projects"
    runs-on: ubuntu-latest
    outputs:
      e2e-test-projects: ${{ steps.e2e-targets.outputs.e2e-test-projects }}
    steps:
      - name: Check out code
        uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
        with:
          run_install: false
      - name: Setup Node.js environment
        uses: actions/setup-node@v4
        with:
          node-version-file: ".nvmrc"
          cache: "pnpm"
      - name: Install deps
        run: pnpm install --frozen-lockfile
      - name: Create list of E2E test projects
        id: e2e-targets
        run: |-
          E2E_TEST_PROJECTS=$(pnpm m ls --depth=1 --json | jq -cr '[.[] | select(.name|endswith("e2e-tests")) | .name]')
          echo "e2e-test-projects=$E2E_TEST_PROJECTS" >> $GITHUB_OUTPUT
  # The e2e tests run for quite a long time. Until we can accurately select the appropriate tests to run, we're running them in parallel (2 jobs per project, each with 3-4 worker processes.)
  e2e-test:
    name: "Run E2E Tests for ${{ matrix.project }} (Shard ${{ matrix.shard }}/${{ matrix.total-shards }})"
    needs: [get-e2e-targets]
    strategy:
      fail-fast: false
      matrix:
        project: ${{ fromJson(needs.get-e2e-targets.outputs.e2e-test-projects) }}
        shard: [1, 2]
        include:
          - total-shards: 2
    timeout-minutes: 25
    runs-on: ubuntu-latest
    container:
      image: mcr.microsoft.com/playwright:v1.57.0-noble
    permissions:
      contents: write
      pull-requests: write
    env:
      EV_API_KEY: ${{ secrets.TESTS_DECRYPT_FN_KEY }}
      EV_APP_UUID: ${{ secrets.TESTS_APP_UUID }}
      EV_TEAM_UUID: ${{ secrets.TESTS_TEAM_UUID }}
      VITE_GOOGLE_PAY_MERCHANT_ID: ${{ vars.GOOGLE_PAY_MERCHANT_ID }}
      VITE_EV_APP_UUID: ${{ secrets.TESTS_APP_UUID }}
      VITE_EV_TEAM_UUID: ${{ secrets.TESTS_TEAM_UUID }}
      VITE_API_URL: ${{ inputs.vite-api-url }}
      VITE_EVERVAULT_JS_URL: ${{ inputs.vite-evervault-js-url }}
      VITE_KEYS_URL: ${{ inputs.vite-keys-url }}
      VITE_TEST_COVERAGE: "${{ inputs.run-code-coverage-checks }}"
      HOME: "/root"
    steps:
      - name: Check out code
        uses: actions/checkout@v4
        with:
          ssh-key: "${{ secrets.COMMIT_KEY }}"
          fetch-depth: 0
      - uses: pnpm/action-setup@v4
        with:
          run_install: false
      - name: Setup Node.js environment
        uses: actions/setup-node@v4
        with:
          node-version-file: ".nvmrc"
          cache: "pnpm"
      - name: Install deps
        run: pnpm install --frozen-lockfile --prefer-offline
      - name: Build ${{ matrix.project }}
        run: pnpm run -r --filter="${{ matrix.project }}..." --if-present build
      - name: E2E test
        id: run-e2e-test
        if: ${{ inputs.update-screenshots == false }}
        run: pnpm run --filter="${{ matrix.project }}" --if-present e2e:test --shard=${{ matrix.shard }}/${{ matrix.total-shards }}
      - name: Update Screenshots
        if: ${{ inputs.update-screenshots == true }}
        run: pnpm run --filter="${{ matrix.project }}" --if-present e2e:test --shard=${{ matrix.shard }}/${{ matrix.total-shards }} -- --update-screenshots
      - name: Set up Git
        if: ${{ inputs.update-screenshots == true }}
        run: |
          pwd
          ls -lha .
          git config --global user.email "e2e-tests@evervault.com"
          git config --global user.name "E2E Tests"
      - name: Commit and Push changes
        if: ${{ inputs.update-screenshots == true }}
        run: |
          git add -A
          git commit -m "[Screenshots] ${{ matrix.project }} (Shard ${{ matrix.shard }}/${{ matrix.total-shards }})"
          git push origin HEAD:${{ github.ref }} --no-verify
