name: E2E Test
on:
  workflow_call:
    inputs:
      vite-evervault-js-url:
        description: "URL where the JS SDK should be loaded from"
        required: true
        type: string
      vite-keys-url:
        description: "URL where keys will be fetched from"
        required: true
        type: string
      vite-api-url:
        description: "API endpoint"
        required: true
        type: string
      run-code-coverage-checks:
        description: "Whether to run code coverage checks or not"
        required: true
        type: boolean
jobs:
  # The e2e tests run for quite a long time. Until we can accurately select the appropriate tests to run, we're running them in parallel (2 jobs per project, each with 3-4 worker processes.)
  e2e-test:
    name: "Run E2E Tests"
    strategy:
      fail-fast: false
      matrix:
        shard: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
        include:
          - total-shards: 10
    timeout-minutes: 25
    runs-on: ubuntu-latest
    container:
      image: mcr.microsoft.com/playwright:v1.57.0-noble
    env:
      EV_API_KEY: ${{ secrets.TESTS_DECRYPT_FN_KEY }}
      EV_APP_UUID: ${{ secrets.TESTS_APP_UUID }}
      EV_TEAM_UUID: ${{ secrets.TESTS_TEAM_UUID }}
      VITE_GOOGLE_PAY_MERCHANT_ID: ${{ vars.GOOGLE_PAY_MERCHANT_ID }}
      VITE_EV_APP_UUID: ${{ secrets.TESTS_APP_UUID }}
      VITE_EV_TEAM_UUID: ${{ secrets.TESTS_TEAM_UUID }}
      VITE_API_URL: ${{ inputs.vite-api-url }}
      VITE_EVERVAULT_JS_URL: ${{ inputs.vite-evervault-js-url }}
      VITE_KEYS_URL: ${{ inputs.vite-keys-url }}
      VITE_TEST_COVERAGE: "${{ inputs.run-code-coverage-checks }}"
      HOME: "/root"
    steps:
      - name: Check out code
        uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
        with:
          run_install: false
      - name: Setup Node.js environment
        uses: actions/setup-node@v4
        with:
          node-version-file: ".nvmrc"
          cache: "pnpm"
      - name: Install deps
        run: pnpm install --frozen-lockfile --prefer-offline
      - name: E2E test
        id: run-e2e-test
        run: pnpm run -r --if-present e2e:test --shard=${{ matrix.shard }}/${{ matrix.total-shards }}
